.tableInfo{
    margin: 0 auto;
}
.tableInfo tr h3{
    font-weight: bolder;
    color: black;
}
.tableInfo .pokeInfoHeaders{
    background-color: rgba(232, 236, 241, 0.8);
}

.tableInfo th {
    border: solid 1px black;
}
